@font-face {
    font-family: 'Catchy Mager';
    src: url('https://cdn.shopify.com/s/files/1/0704/7253/2264/files/CatchyMager.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0704/7253/2264/files/CatchyMager.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
