.why-subscribe-list ul {
    padding-left: 0;
}
.why-subscribe-list li {
    position: relative;
    padding: 8px 0;
    padding-left: 32px;
    position: relative;
    border-bottom: 1px solid rgba(55, 127, 154, 0.08);
    font-weight: 500;
    list-style: none;
}
.why-subscribe-list li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 14px;
  width: 18px;
  height: 18px;
  background: #377F9A;
  border-radius: 50%;
  border: 1px solid rgba(55, 127, 154, 0.2);
}
.why-subscribe-list li::after {
  content: '';
  position: absolute;
  left: 6px;
  top: 21px;
  width: 6px;
  height: 3px;
  border-left: 1.5px solid #fff;
  border-bottom: 1.5px solid #fff;
  transform: rotate(-45deg);
}